name: ecclespark_site

services:
  server:
    image: hugomods/hugo:exts-non-root
    command: sh -c "npm install && hugo server --bind 0.0.0.0"
    volumes:
      - ".:/src"
    ports:
      - 1313:1313
    env_file:
      - .env

  build:
    image: hugomods/hugo:exts-non-root
    command: sh -c "npm install && hugo"
    volumes:
      - ".:/src"
