.broadcast-setup-app {
    .user-image {
        display: inline-block;
        margin-left: 1em;

        img {
            border-radius: 50%;
            height: 50px;
        }
    }
    #meeting_form {
        label {
            display: inline-block;
            min-width: 5ch;
        }

        #title {
            width: 400px;
        }
        div {
            margin: 1rem;
        }
    }

    #show-created-video {
        margin-top: 1em;
        margin-bottom: 1em;

        .copy-icon {
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }
}